@import url(./variaveis.css);
@import url(_reset.css);

.app{


    background-color: var(--azulescuro);

    font-family: var(--fonte-corpo);

    color:var(--fonte-cor);
    margin-left: 10%;
    margin-top: 3%;
}

