@import url(./variaveis.css);
@import url(_reset.css);

.app, .app_comunidade{


    background-color: var(--azulescuro);

    font-family: var(--fonte-corpo);

    color:var(--fonte-cor);
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 10px;
}

