@import url(./variaveis.css);
@import url(_reset.css);

.app{
    display: grid;
    grid-template-areas: "cabecalho", "conteudo","rodape";
    grid-template-columns: auto;
    grid-template-rows:  auto;

    background-color: var(--azulescuro);

    font-family: var(--fonte-corpo);

    color:var(--fonte-cor);

    margin: 1rem 2rem 1rem 10rem; 
}

