/*Celular*/
@media screen and (min-width:0){

}
/*Tablet*/
@media screen and (max-width:768px){
    .logo{
        align-items: flex-start;
    }
    .pesquisa{
        display: none;
    }
    .pesquisa__mobile{
       background-image: url("../../img/icons/lupa.svg");
    }
}

/*Desktop*/

@media screen and (min-width:992px){
    .pesquisa__mobile{
        display: none;
    }
}

/*TV*/

@media screen and (min-width:1200){
    
}