:root{
    --azulcem: #96b9fd;
    
    --azulduzentos: #7ba4fc;
    
    --azultrezentos: #5081fb;
    
    --azulescuro: #051d3b;

    --preto-editor:#141414;


    --fonte-corpo: "Inter";

    --fonte-cor:#FFFFFF;

    --fonte-codigo: "Robot Mono";
    
  
    }