
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#caixa{

    border:none;

    width: 47rem;
    height: 56px;
    left: 0px;
    top: 0px;

    padding-left: 1rem;
        
    background:rgba(255, 255, 255, 0.16);
    border-radius: 8px;

    align-items: flex-start;
    
}

.logo{
    padding:2rem;
    align-items: flex-start;
}

/*Conteudo principal > menu lateral + editores*/
.conteudo{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
}
/*Coluna esquerda*/

.coluna_esquerda{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.coluna_esquerda__titulo{
    padding:10px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}


.editor_codigo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.editor_codigo__imagem{
    padding-right: 1rem;
}

.editor_codigo:hover{
    opacity: 56%;
}

.comunidade{
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
}

.comunidade__imagem{
    padding-right: 1rem;
}

.comunidade:hover{
    opacity: 56%;
}

/*estilização dos Editores*/
.card{
   width: 35%;
   height: 464px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: rgba(0, 0, 0, 0.16);
   margin-bottom: 2%;
}
.card:nth-child(4n){
    margin-left: 40%;
}

.card_colorida-1{
    border-radius: 8px;
    background:#9AFF6B;
    width: 100%;
    height: 62%;
    border:none;
}

.card_colorida-2{
    border-radius: 8px;
    background:#6B83FF;
    width: 100%;
    height: 62%;
    border:none;
}

.card_colorida-3{
    border-radius: 8px;
    background:#FFC46B;
    width: 100%;
    height: 62%;
    border:none;
}

.card_colorida-4{
    border-radius: 8px;
    background:#FF6BCD;
    width: 100%;
    height: 62%;
    border:none;
}


.card__codigo{ 
   
    border: none;
    border-radius: 8px;
    background:var(--preto-editor);
    color: var(--fonte-cor);
    height: 80%;
    resize: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.card__social{
    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 24px ; 
    width:95%;
    height: auto;
}

.titulo_projeto{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 8px;

}

.descricao_projeto{
    opacity: 0.8;
    margin-top: 8px;
}

.card__action{
    margin-top: 24px;
    align-items: flex-end;
}

#comentario{
    border: none;
    color: var(--fonte-cor);
    background: none;
    width: 20px;
    height: 40px;
}

#coracao{
    border: none;
    color: var(--fonte-cor);
    background: none;
    width: 20px;
    height: 40px;
    margin-left: 38px;
}