
/*Centro - Campo para escrever o codigo*/
.centro{
    padding:10px;
}
.centro_caixa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    
    width: 47rem;
    height: 366px;
    left: 344px;
    top: 128px;
    
    margin-left: -8rem;
    margin-top: 1rem;

    background: #6BD1FF;
    border-radius: 8px;
}

.centro_campo-codigo{
    background: var(--preto-editor);
    border: none;
    border-radius: 8px;
    padding-top: 70px;
    padding-left: 1rem;

    width: 100%;
    height: 366px;
    left: 32px;
    top: 32px;
    resize: none;   

    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);

    font-family:var(--fonte-codigo);
 
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.centro_imagem__mac{
    width: 52px;
    height: 12px;
    

    

    background: url("/assets/img/icons/mac_buttons.svg") no-repeat;
}

#centro_botao_highlight{
    color:var(--fonte-cor);
    border: none;
  
    width: 752px;
    height: 56px;
    left: 344px;
    top: 526px;

    margin-left: -110px;
    margin-top: 3rem;

    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
}

#centro_botao_highlight:hover{
    background:rgba(80, 129, 251, 0.16);
}