
/*Coluna esquerda com os links para a pagina editor codigo e comunidade*/
@media screen and (min-width:768px){
    .coluna_esquerda{
        display: none;
    }
}

@media screen and (min-width:980px){
.coluna_esquerda{
    width: 300px;
    height: 300px;
    margin-top: 1rem;
    margin-right: 150px;
    
    
    
}
.coluna_esquerda__titulo{
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.editor_codigo{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.editor_codigo__imagem{
    padding-right: 1rem;
}

.editor_codigo:hover{
    opacity: 56%;
}

.comunidade{
    display: flex;
    align-items: center;
    margin: 1rem 1rem 1rem 0;
}

.comunidade__imagem{
    padding-right: 1rem;
}

.comunidade:hover{
    opacity: 56%;
}

}