@import url(/assets/css/components/conteudo/coluna_esquerda.css);
@import url(/assets/css/components/conteudo/coluna_direita.css);
@import url(/assets/css/components/conteudo/centro.css);

.conteudo{
    display: grid;
    grid-area: "coluna_esquerda","coluna_direita","centro";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    grid-row: 2;
    

    margin-top: 2rem;

    justify-content: space-between;
}


